
.idea
venv
.idea/dataSources.xml
venv/Include/
venv/Lib/site-packages/abstract-2020.1.6.dist-info/
venv/Lib/site-packages/abstract/
venv/Lib/site-packages/base32hex-1.0.2-py3.8.egg-info/
venv/Lib/site-packages/base32hex.py
venv/Lib/site-packages/colouration-2020.1.6.dist-info/
venv/Lib/site-packages/colouration/
venv/Lib/site-packages/graphviz-0.13.2.dist-info/
venv/Lib/site-packages/graphviz/
account/__pycache__/apps.cpython-38.pyc
account/migrations/0002_user_is_deleted.py
account/migrations/0003_auto_20200214_2133.py
account/migrations/__pycache__/0002_user_is_deleted.cpython-38.pyc
account/migrations/__pycache__/0003_auto_20200214_2133.cpython-38.pyc
basic/__pycache__/apps.cpython-38.pyc
basic/__pycache__/httpUtils.cpython-38.pyc
movie/__pycache__/apps.cpython-38.pyc
movie/__pycache__/constants.cpython-38.pyc
movie/__pycache__/services.cpython-38.pyc
movie/__pycache__/urls.cpython-38.pyc
movie/__pycache__/views.cpython-38.pyc
movie/migrations/0002_film_desc.py
movie/migrations/0003_auto_20200210_1106.py
movie/migrations/0004_auto_20200214_2116.py
movie/migrations/__pycache__/0002_film_desc.cpython-38.pyc
movie/migrations/__pycache__/0003_auto_20200210_1106.cpython-38.pyc
movie/migrations/__pycache__/0004_auto_20200214_2116.cpython-38.pyc
