
.idea
.venv
.idea/dataSources.xml
venv/Include/
venv/Lib/site-packages/abstract-2020.1.6.dist-info/
venv/Lib/site-packages/abstract/
venv/Lib/site-packages/base32hex-1.0.2-py3.8.egg-info/
venv/Lib/site-packages/base32hex.py
venv/Lib/site-packages/colouration-2020.1.6.dist-info/
venv/Lib/site-packages/colouration/
venv/Lib/site-packages/graphviz-0.13.2.dist-info/
venv/Lib/site-packages/graphviz/
